<% content_for :page_title do %>
  <%= t('spree_banner_locations.new_location') %>
<% end %>
<% content_for :page_actions do %>
  <%= button_link_to t('spree_banner_locations.back_to_locations'), spree.admin_banner_locations_path, icon: 'arrow-left' %>
<% end %>
<%= render 'spree/shared/error_messages', :target => @banner_location %>
<%= form_for [:admin, @banner_location] do |f| %>
  <fieldset class="no-border-top">
    <%= render partial: 'form', locals: { f: f } %>

    <div class="clear"></div>

    <div data-hook="admin_shipping_method_new_form_buttons">
      <%= render partial: 'spree/admin/shared/new_resource_links' %>
    </div>
  </fieldset>
<% end %>