<table class="table">
  <thead>
    <tr data-hook="banner_locations_header">
      <th><%= t('spree_banner_locations.title') %></th>
    </tr>
  </thead>
  <tbody id='banner_locations'>
    <tr data-hook="banner_locations_row">
      <td>
        <%= f.field_container :banner_location, class: ['form-group'] do %>
          <%= f.label :banner_location_id, Spree.t(:location) %>
          <%= f.collection_select(:banner_location_ids, Spree::BannerLocation.all, :id, :name, { include_blank: Spree.t('match_choices.none') }, { class: 'select2', disabled: (cannot? :edit, Spree::BannerLocation) }) %>
          <%= f.error_message_on :banner_location %>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>

<%= button_link_to t('spree_banner_locations.new_location'), 'javascript:;', {
      icon: 'add',
      'data-target': 'tbody#banner_locations',
      class: 'btn-success spree_add_fields'
} %>
<br/>
<br/>