<% content_for :page_actions do %>
  <%= button_link_to t('spree_banner.new_banner'), new_object_url, { class: 'btn-success', icon: 'add', id: 'admin_new_banner_link' } %>
<% end %>
<% content_for :page_title do %>
  <%= t('spree_banner.title') %>
<% end %>
<% product_banners = @banners.where.not(product_id: nil) %>
<% image_banners = @banners.where(product_id: nil) %>
<% [
  ['Image banners', image_banners, :image],
  ['Product banners', product_banners, :product]
  ].each do |translation, banners, type|%>
  <h3><%= translation %></h3>
  <table class="table sortable" id="listing_banners" data-hook data-sortable-link="<%= update_positions_admin_banners_url %>">
    <thead>
      <tr data-hook="admin_banners_index_headers">
        <th><%= Spree.t(:image) %></th>
        <th><%= get_column_header_by_type(type) %></th>
        <th><%= Spree.t(:published) %></th>
        <th data-hook="admin_banners_index_header_actions" class="actions"></th>
      </tr>
    </thead>
    <tbody>
      <% banners.each do |banner| %>
        <tr id="<%= spree_dom_id banner %>" data-hook="admin_banners_index_rows">
          <td><%= image_tag banner.banner_image ? main_app.url_for(banner.preview) : "noimage/small.png" %></td>
          <td><%= get_image_link_by_type(banner, type) %></td>
          <td><%= banner.published ? Spree.t(:say_yes) : Spree.t(:say_no) %></td>
          <td data-hook="admin_banners_index_row_actions" class="actions text-right">
            <%= link_to_edit banner, no_text: true, class: 'edit' %>
            &nbsp;
            <%= link_to_delete banner, no_text: true %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
<% end %>