<% content_for :page_title do %>
  <%= t('spree_banner.new_banner') %>
<% end %>
<% content_for :page_actions do %>
  <%= button_link_to t('spree_banner.back_to_banners'), spree.admin_banners_path, icon: 'arrow-left' %>
<% end %>
<%= render 'spree/shared/error_messages', target: @banner %>
<%= form_for [:admin, @banner] , html: { multipart: true } do |f| %>
  <fieldset class="no-border-top">
    <%= render partial: 'form', locals: { f: f } %>

    <div class="clear"></div>

    <div data-hook="admin_shipping_method_new_form_buttons">
      <%= render partial: 'spree/admin/shared/new_resource_links' %>
    </div>
  </fieldset>
<% end %>