<h1><%= t(:banner) %></h1>

<table class="table">
  <tr data-hook="product_id">
    <th><%= t(:product) %></th>
    <td>
      <%= @banner.product.name unless @banner.product_id.blank? %>
    </td>
  </tr>
  <tr data-hook="name">
    <th><%= t(:name) %></th>
    <td>
      <%= @banner.name %>
    </td>
  </tr>
  <tr data-hook="body">
    <th><%= t(:body) %></th>
    <td>
      <%= @banner.body %>
    </td>
  </tr>
  <tr data-hook="link_url">
    <th><%= t(:link_url) %></th>
    <td>
      <%= @banner.link_url %>
    </td>
  </tr>
  <tr data-hook="published">
    <th><%= t(:published) %></th>
    <td>
      <%= @banner.published ? t(:y) : t(:n) %>
    </td>
  </tr>
  <tr data-hook="image_file_name">
    <th><%= t(:image_file_name) %></th>
    <td>
      <%= @banner.image_file_name %>
    </td>
  </tr>
  <tr data-hook="position">
    <th><%= t(:position) %></th>
    <td>
      <%= @banner.position %>
    </td>
  </tr>
</table>

<p>
  <%= link_to_edit @banner, class: 'edit_banner' %> <%= t(:or) %>
  <%= link_to t(:back), collection_url %>
</p>